/* font part start */
.font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}
.d-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}
/* font part end */
body{
    background-color: rgb(8, 0, 0);
    color: rgb(253, 238, 238);
}
*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/* Shared style */
:root{
    --primary-width: 1060px;
    --primary-btn-bg: tomato;
    --logo-color: tomato;
    --primary-description-color: rgba(201, 198, 198, 0.5);
    --primary-bg-color: rgba(70, 70, 70, 0.473);
}
a{
    text-decoration: none;
    color: white;
}
button{
    height: 51px;
    width: 231px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    background-color: var(--primary-btn-bg);
    border-radius: 51px;
    border: none;
    font-size: 1.10rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}
table{
    border-collapse: collapse;
}
td, th{
    border: 2px solid rgba(80, 79, 79, 0.308);
    padding: 14px 20px;

}
th{
    text-align: left;
    font-size: 1rem;
    font-weight: 501;
}
td{
    color: rgba(126, 126, 126, 0.877);
    font-weight: 401;
    font-size: 1rem;
}


/* Header section starts  */
header{
    max-width: var(--primary-width);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 94px;
}
.nav-container{
    max-width: var(--primary-width);
    margin: 50px 20px 31px 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 180px;
    margin-top: 54px;
}
.nav-container > a > h1{
    color: var(--logo-color);
    font-weight: 801;
    font-style: italic;
    font-size: 2.5rem;
}
.nav-itemss{
    display: flex;
    gap: 5.5px;
    justify-content: space-between;
    align-items: center;
    border: 1.5px solid rgba(119, 115, 115, 0.445);
    border-radius: 41px;
    padding: 3.5px;
}
.nav-item > a{
    padding: 10px 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 51px;
    font-weight: 401;
    font-size: 1rem;
}
.nav-item:first-child > a{
    background-color: tomato;
    font-weight: 600;
}
.menu-icon{
    display: none;
    font-size: 1.61rem;
}

.header-containers{
    max-width: var(--primary-width);
    margin-left: 49px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-content{
    max-width: 621px;
    padding-right: 44px;
}
.header-content > h1{
    font-size: 5rem;
    font-weight: 900;
    line-height: 101px;
}
.header-content > p{
    color: var(--primary-description-color);
    font-size: 1rem;
    line-height: 25px;
    font-weight: 400;
    padding-top: 16px;
}
.header-btnn-container{
    display: flex;
    gap: 21px;
    margin-top: 29px;
}
.download-btn{
    background-color: transparent;
    border: 1px solid lightcyan;
}
.h-bg{
    position: relative;
}
.h-bg > div{
    border: 1px solid rgba(97, 97, 97, 0.555);
    border-radius: 16px;
    padding: 16px 20px;
    position: absolute;
    backdrop-filter: blur(10px);
}
.work > h1{
    font-size: 2.4rem;
    font-weight: 900;
}
.work > p{
    font-size: 0.829rem;
    color: var(--primary-description-color);
}
.work{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    top: 119px;
    right: -23px;
    background-color: rgba(129, 129, 129, 0.295);
}
.tutor{
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    bottom: 70px;
    left: -101px;
    background-color: rgba(65, 65, 65, 0.253);
}
.tutor > div > h3{
    font-size: 1.5rem;
    font-weight: 901;
}
.tutor > div > p{
    padding-top: 5px;
    font-size: 1rem;
    color: var(--primary-description-color);
}
.shape{
    width: 41px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-btn-bg);
    border-radius: 50%;
}
/* Header section ends  */

/* change your Habit section starts  */
.h-section{
    max-width: var(--primary-width);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 89px;
    display: flex;
    flex-direction: column;
}
.h-header{
    width: 90%;
    margin: 0 auto;
}
.h-header > h1{
    font-size: 3rem;
    text-align: center;
    font-weight: 901;
    margin-bottom: 19px;
}
.h-header > p{
    color: var(--primary-description-color);
    text-align: center;
    font-size: 1rem;
    line-height: 24px;
    max-width: 70%;
    margin: 0 auto;
}
.h-items{
    display: flex;
    gap: 41px;
    justify-content: space-between;
    margin-top: 50px;
}
.h-items > div{
    max-width: 230px;
    display: flex;
    gap: 11px;
    flex-direction: column;
    align-items: center;
}
.h-items > div > h4{
    text-align: center;
    font-weight: 599;
    font-size: 1.2rem;
}
.h-items > div > p{
    font-size: 1rem;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    color: var(--primary-description-color);
}
.h-image{
    border: 3px solid rgba(77, 77, 77, 0.418);
    border-radius: 50%;
    margin: 13px;
}
/*  change your Habit section ends  */

/* excercise section starts  */
.ex-container{
    max-width: var(--primary-width);
    margin: 0 auto 85px auto;
}
.ex-header{
    max-width: 90%;
    margin: 0 auto 51px auto;
}
.ex-header > h1{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    line-height: 60px;
    margin-bottom: 20px;
}
.ex-header > p{
    max-width: 90%;
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-description-color);
    text-align: center;
    margin: 0 auto;
    line-height: 25px;
}
.ex-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 20px;
    background-color: var(--primary-bg-color);
    border-radius: 19px;
    padding: 21px;
}
.ex-title{
    font-size: 1.53rem;
    font-weight: 799;
    margin-bottom: 17px;
}
.ex-item > img{
    border-radius: 15px;
    width: 100%;
    margin-bottom: 10px;
}
.ex-item-info > h4{
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 5px;
}
.ex-item-info > ul > li{
    list-style-type: disc;
    margin-left: 15px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 27px;
    color: var(--primary-description-color);
}
/* exercise section ends */

/* extra mile section starts */
.r-section{
    max-width: var(--primary-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 101x;
    background-color: var(--primary-bg-color);
    border-radius: 19px;
}
.r-contents{
    max-width: 450px;
    margin: 31px 31px 31px 41px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
}
.r-contents > h1{
    font-size: 3.04rem;
    font-weight: 900;
}
.r-contents > p{
    font-size: 1rem;
    font-weight: 401;
    color: var(--primary-description-color);
    line-height: 27px;
    margin-bottom: 13px;
}
.r-bg{
    width: 385px;
    height: 301px;
    margin: 31px;
    border-radius: 19px;
    background: url(../assets/run.jpg);
    background-size: cover;
    background-size: 991px;
    background-position: 65% 30%;
    background-repeat: no-repeat;
}
/* Run section ends  */

/* BMI section starts  */
.bmii-container{
    margin-bottom: 90px;
}
.bmii-info{
    max-width: 738px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 20px;
}
.bmii-info > h1{
    font-size: 3rem;
    font-weight: 899;
    margin-top: 20px;
    margin-bottom: 20px;
    li
}
.bmii-info > p, .bmi-calc > p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-top: 18.5px;
    color: var(--primary-description-color);
}
.calc-chart-container-for-bg{
    background-color: var(--primary-bg-color);
    padding: 46px 0;
}
.calc-chart-container{
    max-width: var(--primary-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.bmii-chart{
    max-width: fit-content;
}
.bmii-chart > h2{
    font-size: 1.77rem;
    font-weight: 900;
    margin-bottom: 51px;
}
.bmii-calc{
    max-width: 55%;
}
.bmii-calc > h2{
    font-size: 1.77rem;
    font-weight: 900;
    margin-bottom: 20px;
}
.bmii-calc > form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 13px;
}
form{
    margin-top: 31px;
}
.factors{
    grid-column: span 2;
}
.height, .weight, .age, .gender, .factors{
    max-width: 100%;
    border-radius: 8px;
    background-color: rgb(54, 54, 54);
    height: 43px;
    border: none;
    outline: none;
}
form > input{
    padding-left: 21px;
    color: white;
    font-size: 1.2rem;
}
form > input::placeholder{
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-description-color);
}
form > select{
    font-size: 1rem;
    color: var(--primary-description-color);
    padding: 0 20px;
}
.gender, .factors{
    border-right: 20px solid transparent;
}
form > button{
    margin-top: 21px;
}
/* BMI section ends  */

/* Team section starts */
.t-container{
    max-width: var(--primary-width);
    margin: 0 auto;
    margin-bottom: 90px;
}
.t-info{
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.t-header{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 16.5px;
}
.t-description{
    line-height: 29px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: var(--primary-description-color);
}
.trainers{
    background-color: var(--primary-bg-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-radius: 18.5px;
    padding: 17px;
}
.trainer{
    max-width: 400px;
    height: 270px;
    border-radius: 18.5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 21px;
    padding-bottom: 20px;
}
.trainer > h3{
    font-weight: 900;
    font-size: 1.3rem;
    margin-bottom: 5px;
}
.trainer > p{
    color: var(--primary-description-color);
    font-size: 0.90rem;
    font-weight: 400;
}
.jerome{
    background: linear-gradient(rgba(36, 36, 36, 0.062), rgba(0, 0, 0, 0.473)), url(../assets/jer.png);
    background-size: cover;
}
.cameron{
    background: linear-gradient(rgba(36, 36, 36, 0.062), rgba(0, 0, 0, 0.473)), url(../assets/cam.png);
    background-size: cover;
}
.darrell{
    background: linear-gradient(rgba(36, 36, 36, 0.062), rgba(0, 0, 0, 0.473)), url(../assets/dar.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.dianne{
    background: linear-gradient(rgba(36, 36, 36, 0.062), rgba(0, 0, 0, 0.473)), url(../assets/dianne.png);
    background-size: cover;
    background-position: center;
}
.cody{
    background: linear-gradient(rgba(36, 36, 36, 0.062), rgba(0, 0, 0, 0.473)), url(../assets/cod.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.theresa{
    background: linear-gradient(rgba(36, 36, 36, 0.062), rgba(0, 0, 0, 0.473)), url(../assets/ter.png);
    background-size: cover;
}
/* Team section end  */

/* Footer section start */
footer{
    background-color: var(--primary-bg-color);
}
.footer{
    max-width: var(--primary-width);
    padding-bottom: 31px;
    padding-top: 61px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
.footer-in{
    width: 450px;
}
.footer-in > h1{
    color: var(--logo-color);
    font-size: 4.3rem;
    font-weight: 900;
    font-style: italic;
    margin-bottom: 18.5px;
}
.footer-in > p{
    color: var(--primary-description-color);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 23px;
}
.footer-it{
    width: 451px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.items-column > h2{
    font-size: 1.84rem;
    font-weight: 699;
    padding-bottom: 21px;
}
.items-column > ul > li > a{
    font-size: 1.3rem;
    color: var(--primary-description-color);
}
.items-column > ul > li{
    margin-top: 20px;
}
.copyright{
    max-width: var(--primary-width);
    margin: 0 auto;
    height: 91px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1.5px solid rgba(97, 97, 97, 0.555);
}
.copyright-msg{
    color: var(--primary-description-color);
    font-size: 0.98rem;
}
/* Footer section end  */
/* start responsive part */
@media screen and (max-width: 1120px) {
    .header-containers{
        max-width: 891px;
    }
    .h-bg{
        max-width: 301px;
    }
    .work{
        top: 76px;
        right: -51px;
    }
    .tutor{
        bottom: 90px;
        left: -50px;
    }
    .header-content{
        max-width: 571px;
    }
    .ex-containers{
        margin-left: 13px;
        margin-right: 13px;
    }
}
@media screen and (max-width: 1090px) {
    .h-section{
        margin-left: 16px;
        margin-right: 16px;
    }
    .r-section{
        margin-right: 16px;
        margin-left: 16px;
    }
    .calc-chart-container{
        margin-left: 16px;
        margin-right: 16px;
    }
    .trainers{
        margin-left: 16px;
        margin-right: 16px;
    }
    .footer{
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media screen and (max-width: 993px) and (min-width: 577px) {
    .header-containers{
        flex-direction: column;
        gap: 80px;
    }
    .h-bg{
        display: flex;
        align-items: center;
        width: 350px;
        margin: 0 auto;
    }
    .work{
        top: 60px;
        right: -35px;
    }
    .tutor{
        bottom: 129px;
        left: -45px;
    }
    .h-header{
        margin-bottom: 47px;
    }
    .h-header > h1{
        font-size: 2.76rem;
    }
    .h-section{
        margin-right: 10px;
        margin-left: 10px;
    }
    .h-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        gap: 40px;
    }
    .h-items > div{
        margin: 0 auto;
    }
    .ex-header{
        max-width: 98%;
    }
    .ex-header > p{
        line-height: 22px;
    }
    .r-section{
        max-width: calc(100% - 20px);
    }
    .r-contents{
        max-width: 52%;
    }
    .r-bg{
        max-width: 48%;
    }
    .r-contents > h1{
        font-size: 2.9rem;
    }
    .t-container{
        margin: 0 13px 80px 13px;
    }
    .bmii-info{
        max-width: 90%;
        margin: 0 13px 50px 13px;
    }
    .calc-chart-container{
        gap: 50px;
        flex-direction: column;
        margin-left: 13px;
        margin-right: 13px;
    }
    .bmii-calc{
        max-width: 100vw;
    }
    .footer{
        margin-left: 10px;
        margin-right: 10px;
        flex-direction: column;
        align-items: baseline;
    }
    .footer-it{
        justify-content: space-between;
        min-width: 560px;
        gap: 140px;
    }
}
@media screen and (max-width: 650px) {
    .ex-items{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 800px) {
    .header-content{
        max-width: 470px;
    }
    .nav-container{
        gap: 110px;
    }
    .nav-itemss{
        gap: 2px;
    }
    .nav-item > a{
        padding: 4px 12px;
        font-size: 0.9rem;
    }
    .work{
        top: 57px;
        right: -35px;
    }
    .tutor{
        bottom: 129px;
        left: -45px;
    }
    
    .r-section{
        max-width: calc(100% - 26px);
    }
    .r-bg{
        max-width: 48%;
        margin-left: 0;
    }
    .r-contents{
        max-width: 52%;
        margin-right: 4px;
    }
    .r-contents > h1{
        font-size: 2.6rem;
    }
    .t-info{
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 39px;
    }
    .t-container{
        margin-bottom: 70px;
    }
    .trainers{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 576px) {
    button{
        font-size: 1rem;
    }
    header{
        margin-bottom: 51px;
    }
    .nav-container{
        min-width: calc(100% - 80px);
        gap: 100px;
    }
    .header-containers{
        margin: 0 14px 0 14px;
    }
    .header-content{
        max-width: calc(100% - 17px);
        padding-right: 1px;
        margin: 0 14px 0 13px;
    }
    .header-content > h1{
        width: 400px;
        line-height: 74px;
        font-size: 3.6rem;
    }
    .h-bg{
        width: 280px;
        margin-left: 30px;
    }
    .h-bg > img{
        width: 255px;
    }
    .work{
        top: 53px;
        right: -19px;;
    }
    .work > h1{
        font-size: 1.4rem;
    }
    .work > p{
        font-size: 0.79rem;
    }
    .tutor{
        bottom: 147px;
        left: -82px;
        gap: 8px;
    }
    .tutor > div > h3{
        font-size: 1.4rem;
    }
    .tutor > div > p{
        font-size: 0.9rem;
    }
    .shape{
        width: 36px;
        height: 36px;
    }
    .nav-itemss{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    .header-containers{
        flex-direction: column;
        gap: 60px;
    }
    .h-header > h1{
        font-size: 2rem;
    }
    .h-header > p{
        max-width: 90%;
    }
    .h-items{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .ex-header > h1{
        font-size: 2rem;
        line-height: 45px;
    }
    .r-section{
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
    }
    .r-contents{
        max-width: 100%;
        margin: 30px 0;
        padding: 0 30px;
    }
    .r-contents > a, button{
        width: 100%;
    }
    .r-bg{
        margin-top: 8px;
        margin-right: 0;
        max-width: calc(100% - 60px);
        background-size: 700px;
        background-position: 66% 26%;
    }
    .t-container{
        margin: 0 13px 60px 13px;
    }
    .t-header{
        font-size: 2.2rem;
    }
    .t-description{
        font-size: 0.9rem;
        line-height: 25px;
    }
    .trainers{
        width: 290px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .trainer{
        width: 270px;
    }
    .calc-chart-container{
        gap: 50px;
        flex-direction: column;
        margin-left: 13px;
        margin-right: 13px;
    }
    .bmii-info{
        margin: 0 13px 40px 13px;
        max-width: 100vw;
    }
    .bmii-info > h1{
        font-size: 2rem;
    }
    .calc-chart-container{
        max-width: 400px;
        margin: 0 auto;
    }
    .bmii-chart > h2, .bmi-calc > h2{
        font-size: 1.3rem;
    }
    .bmii-chart > h2{
        margin-bottom: 20px;
    }
    .bmii-calc{
        max-width: 100%;
    }
    .height, .weight, .age, .gender{
        min-width: 61%;
    }
    .bmii-calc > form{
        gap: 11px;
    }
    .footer{
        flex-direction: column;
        margin-left: 14px;
        margin-right: 14px;
        min-width: 300px;
    }
    .footer-in{
        width: 100%;
    }
    .footer-in > h1{
        font-size: 4rem;
    }
    .footer-it{
        flex-direction: column;
        gap: 50px;
        width: 100%;
    }
    .copyright{
        margin-top: 36px;
        margin: 36px 13px 0 13px;
    }
}
@media screen and (max-width: 420px) {
    .nav-container > a > h1{
        font-size: 2.3rem;
    }
    .nav-container{
        gap: 80px;
        margin-top: 18px;
    }
    .menu-icon{
        font-size: 1.3rem;
    }
    .header-containers{
        max-width: 380px;
    }
    .header-content{
        max-width: 100%;
        margin: 0 13px;
    }
    .header-content > h1{
        font-size: 2.2rem;
        line-height: 43px;
        width: 260px;
    }
    .header-btnn-container > button{
        height: 45px;
        width: 200px;
    }
    .tutor{
        bottom: 147px;
        left: -42px;
        gap: 7px;
    }
    .tutor > div > h3{
        font-size: 1.3rem;
    }
    .tutor > div > p{
        font-size: 0.8rem;
    }
    .shape{
        width: 30px;
        height: 30px;
    }
    .h-header{
        width: 95vw;
    }
    .h-header > h1{
        font-size: 2rem;
    }
    .ex-header{
        margin-bottom: 30px;
    }
    .r-section{
        margin-bottom: 40px;
    }
    .calc-chart-container{
        margin: 0 14px 0 14px;
    }
    .t-info{
        max-width: 425px;
    }
    .t-header{
        font-size: 2rem;
    }
    .t-description{
        font-size: 0.9rem;
        line-height: 25px;
    }
    .bmii-container{
        margin-bottom: 41px;
    }
    form > button{
        height: 41px;
    }
}
@media screen and (max-width: 352px) {
    .header-btn-container > button{
        font-size: 0.84rem;
    }
    .nav-container{
        gap: 45px;
    }
    .header-containers{
        max-width: 351px;
        margin-bottom: 65px;
    }
    .header-content{
        max-width: 100%;
    }
    .header-content > p{
        line-height: 23px;
    }
    .h-bg > div{
        border-radius: 15px;
        padding: 10px 11px;
    }
    .work{
        right: 30px;
    }
    .work > h1{
        font-size: 1.1rem;
    }
    .work > p{
        font-size: 0.6rem;
    }
    .tutor{
        left: -17px;
    }
    .tutor > div > p{
        font-size: 0.7rem;
    }
    .tutor > div > h3{
        font-size: 1rem;
    }
    .h-header{
        width: 95vw;
    }
    .h-header > h1{
        font-size: 1.7rem;
        margin-bottom: 10px;
    }
    .h-header > p{
        max-width: 80%;
        font-size: 0.9rem;
        line-height: 21px;
    }
    .ex-header{
        max-width: 100%;
    }
    .r-contents > h1{
        font-size: 2rem;
    }
    .r-bg{
        height: 250px;
    }
    th, td{
        padding: 14px 14px;
    }
    td{
        font-size: 0.9rem;
    }
    .t-info{
        width: 280px;
        margin: 50px auto;
   }
    .t-header{
        font-size: 2rem;
    }
    .trainers{
        width: fit-content;
        padding: 18px;
    }
    .trainer{
        max-width: 225px;
        height: 240px;
    }
    .items-column > ul > li > a{
        font-size: 1rem;
    }
}
/* end respnsive part */

